apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: icsquiz-user-app-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: icsquiz-user-app
  minReplicas: 1
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70   # target 70% CPU per pod
